<container>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-healthcare-tab" data-toggle="tab" href="#nav-healthcare" role="tab" aria-controls="nav-healthcare" aria-selected="true">Healthcare</a>
    <a class="nav-item nav-link" id="nav-aerospace-tab" data-toggle="tab" href="#nav-aerospace" role="tab" aria-controls="nav-aerospace" aria-selected="false">Aerospace</a>
    <a class="nav-item nav-link" id="nav-ics-tab" data-toggle="tab" href="#nav-ics" role="tab" aria-controls="nav-ics" aria-selected="false">Industrial Controls Systems</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-healthcare" role="tabpanel" aria-labelledby="nav-healthcare-tab">
    <br>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">At future events – like <a href="https://twitter.com/defcon?ref_src=twsrc%5Etfw">@Defcon</a> – we encourage manufacturers to increase engagement with the cyber research community through device demos and our <a href="https://twitter.com/hashtag/wehearthackers?src=hash&amp;ref_src=twsrc%5Etfw">#wehearthackers</a> event. This demonstrates a company’s commitment to cyber principles: Trustworthiness. Transparency. Resilience.</p>
    <p>&mdash; FDA Commissioner, Scott Gottlieb, M.D. (@SGottliebMD) <a href="https://twitter.com/SGottliebFDA/status/1090280147125764097?ref_src=twsrc%5Etfw">January 29, 2019</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></blockquote>

    The <a href="https://fda.gov">US Food and Drug Administration</a>, the non-profit <a href="https://www.villageb.io/">Biohacking Village</a>, and <a href="https://iatc.me">I Am The Cavalry</a> call on medical device and clinical system manufacturers to improve the cybersecurity of global healthcare by committing to:
    <ul>
     <li>Collaborate with cybersecurity researchers, acting in good faith, who report potential vulnerabilities,</li>
     <li>Officially attend the Biohacking Village: Device Lab at <a href="https://defcon.org">DEF CON 28</a>,</li>
     <li>Provide medical devices for testing,</li>
     <li>Assess, disclose, and mitigate potential cybersecurity vulnerabilities identified, and</li>
     <li>Invite your peers to do the same.</li>
    </ul>
    <br>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrpxE7nQeRJzJPWC?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>

  <div class="tab-pane fade" id="nav-aerospace" role="tabpanel" aria-labelledby="nav-aerospace-tab">
    <br>
    <blockquote><p>“Govt needs to wake up and realize software is in everything, and that the provenance that we have of our systems has to start with that root individual component...I think <a href="https://defcon.org">DEF CON</a> can be a great platform to find those things...My hope is to bring the ethical hacker community into our design process...</p>
    <p>&mdash; Assistant Secretary of the Air Force for Acquisition, Technology and Logistics US Air Force, Dr. Will Roper, December 11, 2019</p></blockquote>

    <blockquote><p>“...States are encouraged to set up appropriate mechanisms for cooperation with ‘good faith’ security research, which is research activity carried out in an environment designed to avoid affecting the safety, security and continuity of civil aviation.”</p>
    <p>&mdash; Aviation Cybersecurity Strategy, International Civil Aviation Organization, October 2019.</p></blockquote>

    <p>The complexity of the aerospace ecosystem requires cooperation across numerous entities, such as:</p>
    <ul>
      <li>Air/Spacecraft Manufacturers</li>
      <li>Air/Space Ports</li>
      <li>Air Traffic Control</li>
      <li>H/W & S/W Suppliers</li>
      <li>Navigation Systems</li>
      <li>Ground, Air, Satellite Communications & Monitoring Networks</li>
    </ul>

    The Aerospace Village calls on stakeholders from industry, academia, and the security research communities to follow the #WeHeartHackers model by committing to:
    <ul>
      <li>Collaborate with cybersecurity researchers, acting in good faith, who report potential vulnerabilities,</li>
      <li>Officially participate in the Aerospace Village at <a href="https://defcon.org">DEF CON 28</a>,</li>
      <li>Provide aerospace devices for testing,</li>
      <li>Assess, disclose, and mitigate potential cybersecurity vulnerabilities identified, and</li>
      <li>Invite peers to do the same.</li>
    </ul>

    <br>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shr2kM91TZ8pXPMZx?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>

  <div class="tab-pane fade" id="nav-ics" role="tabpanel" aria-labelledby="nav-ics-tab">
    <br>
    <p>Coming soon...</p>

    <br>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrlUtLiABOWhewcA?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</container>
